<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCC.ClearView.Application.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NCC.ClearView.Application.Core.Properties.Settings>
            <setting name="NCBClass_RSDev_ReportExecutionService" serializeAs="String">
                <value>http://clearviewreportsdev/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="NCBClass_REDev_ReportExecutionService" serializeAs="String">
                <value>http://clearviewreportsdev/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="NCBClass_RSLive_ReportingService2005" serializeAs="String">
                <value>http://clearviewreports/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="NCBClass_RELive_ReportExecutionService" serializeAs="String">
                <value>http://clearviewreports/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="NCBClass_altirisws_dsjob" serializeAs="String">
                <value>http://ohcleutl4035/dsjob/dsjob_fromurl.asmx</value>
            </setting>
            <setting name="NCBClass_AltirisWS_Computer_ComputerManagementService"
                serializeAs="String">
                <value>http://ohcleutl4035/Altiris.ASDK.DS/ComputerManagementService.asmx</value>
            </setting>
            <setting name="NCBClass_AltirisWS_Group_GroupManagementService"
                serializeAs="String">
                <value>http://ohcleutl4035/Altiris.ASDK.DS/GroupManagementService.asmx</value>
            </setting>
            <setting name="NCBClass_AltirisWS_Schedule_ScheduleManagementService"
                serializeAs="String">
                <value>http://ohcleutl4035/Altiris.ASDK.DS/ScheduleManagementService.asmx</value>
            </setting>
            <setting name="NCBClass_AltirisWS_Job_JobManagementService" serializeAs="String">
                <value>http://ohcleutl4035/Altiris.ASDK.DS/JobManagementService.asmx</value>
            </setting>
            <setting name="NCC_ClearView_Application_Core_ClearViewWS_ClearViewWebServices"
                serializeAs="String">
                <value>http://localhost:55030/ClearViewWebServices.asmx</value>
            </setting>
            <setting name="NCC_ClearView_Application_Core_w08r2_BuildSubmit"
                serializeAs="String">
                <value>http://wcrdp100a.pnceng.pvt/wabebuild/BuildSubmit.asmx</value>
            </setting>
            <setting name="NCC_ClearView_Application_Core_Proteus_ProteusAPI"
                serializeAs="String">
                <value>http://new.server/Services/API</value>
            </setting>
        </NCC.ClearView.Application.Core.Properties.Settings>
    </applicationSettings>
</configuration>