<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
    <add key="DSN" value="devDSN" />
    <add key="AssetDSN" value="devDSNAsset" />
    <add key="IpDSN" value="devDSNip" />
    <add key="ServiceDSN" value="devDSNService" />
    <add key="ServiceEditorDSN" value="devDSNServiceEditor" />
    <add key="ZeusDSN" value="devDSNzeus" />
    <add key="RemoteDSN" value="remoteDSN" />
    <add key="ReportingDSN" value="devDSNReporting" />
    <add key="ClearViewDWDSN" value="devDSNClearViewDW" />
    <add key="appTitle" value="ClearView | DEVELOPMENT"/>
    <add key="Environment" value="901" />
    <add key="DirectorApproval" value="0"/>
		<add key="WorkflowSuffix" value="37"/>
		<add key="AssignWorkload" value="39"/>
		<add key="ViewRequest" value="25"/>
		<add key="ViewWorkload" value="36"/>
		<add key="ViewWorkloadManager" value="54"/>
		<add key="ResourceRequest" value="46"/>
		<add key="ResourceRequestApprove" value="49"/>
		<add key="ProjectRequest" value="16"/>
		<add key="VacationRequest" value="53"/>
		<add key="WorkflowBCC" value="ejjc335;esxh33t;"/>
		<add key="VirtualGatekeeper" value="XMJY13C;"/>
		<add key="NewResourceRequest" value="41"/>
		<add key="PC_WM" value="/controls/wm/wm_pc_new.ascx"/>
		<add key="TPM_WM" value="/controls/wm/wm_tpm.ascx"/>
		<add key="TASK_WM" value="/controls/wm/wm_TASK.ascx"/>
		<add key="ITEMID_REMEDIATION" value="12"/>
		<add key="EPS_ORGANIZATION" value="1"/>
		<add key="AUTO_PROFILE" value="15850"/>
		<add key="SERVICEID_SERVER_RETRIEVE" value="462"/>
		<add key="CSRC_WORKFLOW" value="57"/>
		<add key="PCR_WORKFLOW" value="58"/>
		<add key="MyWork" value="38"/>
		<add key="SearchPage" value="74"/>
		<add key="CLARITY_MAILBOX" value="steve.healy@nationalcity.com"/>
    <add key="ForecastEdit" value="60"/>
    <add key="ForecastEditOLD" value="114"/>
    <add key="ServerPlatformID" value="1"/>
		<add key="NetworkPlatformID" value="3"/>
		<add key="OPSLocationID" value="715"/>
		<add key="ViewSupport" value="69"/>
		<add key="DefaultServiceType" value="1"/>
		<add key="AccountRequestItemID" value="16"/>
		<add key="Administrators" value="15686;14781;"/>
		<add key="ForecastOSQuestionID" value="22"/>
		<add key="ForceForecastOverride" value="0"/>
		<add key="ITEMID_IMPLEMENTOR_DISTRIBUTED" value="32"/>
		<add key="ITEMID_IMPLEMENTOR_MIDRANGE" value="39"/>
		<add key="SERVICEID_IMPLEMENTOR_DISTRIBUTED" value="501"/>
		<add key="SERVICEID_IMPLEMENTOR_MIDRANGE" value="502"/>
		<add key="STORAGE_PER_BLADE_OS" value="24"/>
		<add key="STORAGE_PER_BLADE_APP" value="10"/>
		<add key="FORECAST_RAM_QUESTIONS" value="16;24;25"/>
		<add key="ITEMID_STORAGE" value="37"/>
		<add key="ITEMID_BACKUP" value="38"/>
		<add key="CONFIDENCE_UNLOCK" value="3"/>
		<add key="DR_HOUR_QUESTION" value="8"/>
		<add key="DR_HOUR_RESPONSE" value="23"/>
		<add key="DR_RECOVERY_QUESTION" value="10"/>
		<add key="DR_RECOVERY_RESPONSE" value="25"/>
		<add key="SharedPlatformID" value="18"/>
		<add key="CoreEnvironmentID" value="1"/>
		<add key="WorkstationPlatformID" value="8"/>
		<add key="CONFIDENCE_100" value="5"/>
		<add key="VirtualWorkstationModelID" value="404"/>
		<add key="GENERIC_WM" value="/controls/wm/wm_GENERIC.ascx"/>
		<add key="GENERIC_CP" value="/controls/cp/cp_notify_GENERIC.ascx"/>
		<add key="GENERIC_RR" value="/controls/rr/rr_service_editor.ascx"/>
		<add key="VirtualWorkstationsMax" value="5"/>
		<add key="REPORT_SERVICEID" value="542"/>
		<add key="MAX_AD_RESULTS" value="200"/>
		<add key="VMWareModelID" value="396"/>
		<add key="TSM_MAILBOX" value="GM2768P;esxh33t"/>
		<add key="SAN_MAILBOX" value="GM2134E;esxh33t"/>
		<add key="HELP_SERVICEID" value="540"/>
		<add key="HELP_ENHANCEMENT_PAGEID" value="91"/>
		<add key="HELP_ISSUE_PAGEID" value="89"/>
    <add key="HELP_ENHANCEMENT_SERVICEID" value="950"/>
    <add key="VHOST_TEST" value="287"/>
		<add key="VHOST_PROD" value="181"/>
		<add key="ServiceCenterInputXID" value="esxh33t"/>
		<add key="EngineeringClassID" value="4"/>
		<add key="IARB" value="ejjc335;esxh33t;"/>
		<add key="IARB_PAGEID" value="95"/>
		<add key="STORAGE_PER_BLADE_OS_UNIX" value="23"/>
		<add key="STORAGE_PER_BLADE_APP_UNIX" value="10"/>
		<add key="FORECAST_HIGH_AVAILABILITY" value="5_13;26_95;27_101;28_104;37_139;38_136;"/>
		<add key="SERVICEID_STORAGE" value="522"/>
		<add key="SERVICEID_BACKUP" value="523"/>
		<add key="LOG_FILE" value="log.txt" />
		<add key="SERVICEID_SERVER_GROWTH_SAN" value="642"/>
		<add key="SERVICEID_SERVER_GROWTH_DISTRIBUTED" value="643"/>
		<add key="SERVICEID_SERVER_GROWTH_MIDRANGE" value="644"/>
		<add key="VMWARE_HOST_MODELID" value="424"/>
		<add key="VMWARE_HOST_SERVER" value="ohcleutl4029"/>
		<add key="VMWARE_HOST_SCRIPT" value="F:\TFTPBOOT\clearview.vbs"/>
		<add key="TSM_TEAM" value="esxh33t;"/>
		<add key="TSM_TEAM_TEST" value="esxh33t;"/>
		<add key="TSM_TEAM_PROD" value="esxh33t;"/>
		<add key="REMEDIATION_TEAM" value="esxh33t;"/>
		<add key="USE_PNC_NAMING" value="1"/>
		<add key="TestClassID" value="1"/>
		<add key="STORAGE_PER_BLADE_OS_UNIX_PNC" value="60"/>
		<add key="STORAGE_PER_BLADE_APP_UNIX_PNC" value="10"/>
		<add key="STORAGE_PER_BLADE_OS_PNC" value="60"/>
		<add key="STORAGE_PER_BLADE_APP_PNC" value="10"/>
		<add key="STORAGE_GROWTH_SERVICE_INVENTORY" value="549;553;554"/>
		<add key="ASSET_ADMINS" value="15686;14781;"/>
		<add key="OS_XP" value="10"/>
		<add key="VMwareWorkstationModelID" value="438"/>
		<add key="VMwareWorkstationsMax" value="50"/>
		<add key="DATAPOINT_LISTS" value="0"/>
		<add key="DATAPOINT_AVAILABLE_SERVICE" value="1"/>
		<add key="DATAPOINT_AVAILABLE_ASSET" value="1"/>
		<add key="DATAPOINT_AVAILABLE_PROJECT" value="1"/>
		<add key="DATAPOINT_AVAILABLE_PEOPLE" value="1"/>
		<add key="USE_CSM_EXECUTION" value="0"/>
		<add key="SERVICEID_SERVER_DECOMMISSION_IM" value="794"/>

    <add key="SERVICEID_SERVER_DECOMMISSION" value="789"/>
    <add key="SERVICEID_SERVER_DECOMMISSION_STORAGE" value="832"/>
    <add key="SERVICEID_SERVER_DECOMMISSION_BACKUP" value="834"/>
    <add key="SERVICEID_SECURITY" value="781"/>
		<add key="SERVICEID_CSM" value="792"/>
		<add key="Services Max Column Count" value="3"/>
		<add key="TEST_IDS" value="XJJC335,EJJC335;XSXH33T,ESXH33T;XSZPL34,TSZPL34"/>
		
		<add key="APPLICATIONID_CITRIX" value="4"/>
		<add key="REQUIRE_CC_DNS_CREATE" value="0"/>
		<add key="SWITCHPORT_DEBUG" value="1"/>
		<add key="SWITCHPORT_EMPTY_MAC" value="1"/>
		<add key="SWITCHPORT_NO_ARP_LOOKUP" value="1"/>
		<!-- The following is the webservice timeout.  Set to number of MILLISECONDS (1000 = 1 second) -->
		<add key="WS_TIMEOUT" value="300000"/>
		<add key="ERROR_SHOW" value="0"/>
		<add key="SOFTWARE_COMPONENT_PAGEID" value="109"/>
		<add key="SERVICEID_AUDIT_ERROR" value="851"/>
		
		<!-- The following Setting is for -Adding Control Level Help & Adding Validation-->
		<add key="CONTROLS_ADD_HELP" value="1"/>
		<add key="CONTROLS_ADD_VALIDATIONS_FROM_DB" value="0"/>
		<!-- END OF - Adding Control Level Help & Adding Validation-->
		<add key="CVNEWSPERPAGE" value="3"/>
		<add key="SETTINGS_PAGEID" value="52"/>
		<add key="CLEARVIEW_USER_GROUPID" value="308"/>
		<add key="SERVICEID_PROVISIONINGSUPPORT_SERVER" value="852"/>
		<add key="SERVICEID_PROVISIONINGSUPPORT_WORKSTATION" value="853"/>
    	<add key="GENERIC_CA" value="/controls/ca/ca_service_editor.ascx"/>

		<!-- ASSET ORDERS
		<add key="SERVICEID_ASSET_PROCUREMENT" value="863"/>
		<add key="SERVICEID_ASSET_CHECK_IN" value="864"/>
		<add key="SERVICEID_ASSET_STAGE_CONFIG" value="865"/>
   		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_PHYSICAL" value="866"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_BLADE" value="873"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_ENCLOSURE" value="874"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_RACK" value="875"/>
		<add key="SERVICEID_ASSET_DESPOSE" value="887"/>
		
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_CLUSTER" value="877"/>
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_HOST" value="878"/>
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_STORAGE" value="879"/>
			  -->

		<add key="SERVICEID_ASSET_PROCUREMENT" value="863"/>
		<add key="SERVICEID_ASSET_CHECK_IN" value="864"/>
		<add key="SERVICEID_ASSET_STAGE_CONFIG" value="865"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_PHYSICAL" value="866"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_BLADE" value="870"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_ENCLOSURE" value="871"/>
		<add key="SERVICEID_ASSET_BURNIN_DEPLOY_RACK" value="872"/>
		<add key="SERVICEID_ASSET_DESPOSE" value="874"/>
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_CLUSTER" value="868"/>
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_HOST" value="869"/>
		<add key="SERVICEID_ASSET_SHARED_ENV_ADD_STORAGE" value="867"/>
			 
		<!-- END OF ASSET ORDERS-->
    <add key="CLEARVIEWDW_SQL_JOB_NAME" value="ClearViewDataWareHouse"/>
    <add key="SERVICEID_DECOMMISSION_SUPPORT" value="869"/>
    <add key="SERVICEID_DESTROY_SUPPORT" value="888"/>
    <add key="SERVICEID_PNC_DNS" value="780"/>
    <add key="SERVICEID_CLUSTER" value="891"/>
    <add key="USE_COST_CENTER" value="0"/>
    <add key="SQL2008_COMPRESSION_PERCENTAGE" value="0.50"/> <!-- 50% -->
    <add key="SQL2008_TEMPDB_OVERHEAD" value="0.20"/>    <!-- 20% -->
    <add key="USE_SAN_LUN_SERIAL" value="2"/>    <!-- 0 = Off, 1 = On w/out validation, 2 = On w/ validation -->
    <add key="DATAPOINT_PROJECT_SHOW_ADDITIONAL" value="1"/>  <!-- 0 = Do not show additional tabs, 1 = show additional tabs -->
    <add key="ClearViewUsersGroupID" value="308" />
    <add key="Maintenance" value="0" />
    <add key="ClearViewUsersAppID" value="187"/>
    <add key="LoginDebug" value="pt43054;xacview"/>  <!-- Used when debugging logins - will write to log database (; delimited) -->
    <add key="SERVICEID_DECOMMISSION_SUPPORT_WORKSTATION" value="1089"/>
    <add key="SERVICEID_DESTROY_SUPPORT_WORKSTATION" value="1090"/>
    <add key="SERVICEFOLDER_EXCEPTION" value="0"/>
    <add key="SERVICEID_WORKSTATION_REBUILD" value="968"/>
    <add key="CERTIFICATE" value="http://localhost"/>  <!-- Remove completely if you don't want to show certificate message anymore  -->


  </appSettings>
	<connectionStrings>
  <clear />
    <add name="devDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview_DEV" providerName=""/>
    <add name="testDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="qaDSN" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="prodDSN" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="devDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset_DEV" providerName="" />
    <add name="testDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="qaDSNAsset" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="prodDSNAsset" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="devDSNIP" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP_DEV" providerName="" />
    <add name="testDSNIP" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="qaDSNIP" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="prodDSNIP" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="devDSNServiceEditor" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor_DEV" providerName="" />
    <add name="testDSNServiceEditor" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="qaDSNServiceEditor" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="prodDSNServiceEditor" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="devDSNzeus" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus_DEV" providerName="" />
    <add name="testDSNzeus" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
    <add name="qaDSNzeus" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
    <add name="prodDSNzeus" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
    <add name="devDSNService" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearViewService_DEV" providerName="System.Data.SqlClient" />
    <add name="testDSNService" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewService" providerName="System.Data.SqlClients" />
    <add name="qaDSNService" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewService" providerName="System.Data.SqlClient" />
    <add name="prodDSNService" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewService" providerName="System.Data.SqlClient" />
    <add name="devDSNReporting" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearView_DEV" providerName="System.Data.SqlClient" />
    <add name="testDSNReporting" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearView" providerName="System.Data.SqlClient" />
    <add name="qaDSNReporting" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearView" providerName="System.Data.SqlClient" />
    <add name="prodDSNReporting" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearView" providerName="System.Data.SqlClient" />
    <add name="devDSNClearViewDW" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewDW_DEV" providerName="System.Data.SqlClient" />
    <add name="testDSNClearViewDW" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewDW" providerName="System.Data.SqlClient" />
    <add name="qaDSNClearViewDW" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewDW" providerName="System.Data.SqlClient" />
    <add name="prodDSNClearViewDW" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewDW" providerName="System.Data.SqlClient" />

    <add name="orgDSN" connectionString="data source=OHCLEIIS1136\SQLVIR0003;uid=ISOrgCharts;password=ISOrgCharts;database=EPSSkill" providerName="System.Data.SqlClient" />
    <add name="mnemonicDSN" connectionString="data source=OHCLEIIS1121.corp.ntl-city.net;database=Maintenance;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="remoteDSN" connectionString="data source=clearviewbuild.pncbank.com;uid=cvremote;password=sh33p;database=ClearviewRemote" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<identity impersonate="true" />
		<!-- 
		<identity impersonate="true" 
			userName="registry:HKLM\SOFTWARE\ClearView\identity\ASPNET_SETREG,userName"
			password="registry:HKLM\SOFTWARE\ClearView\identity\ASPNET_SETREG,password"
		/>
    -->
		<sessionState mode="Off" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<remove verb="POST,GET" path="Upload.axd"/>
			<add verb="POST,GET" path="Upload.axd" type="NCC.ClearView.Application.Core.Upload, NCC.ClearView.Application.Core"/>
		</httpHandlers>
		<pages enableEventValidation="false" validateRequest="false">
			<namespaces>
				<add namespace="System"/>
				<add namespace="System.IO"/>
				<add namespace="System.Diagnostics"/>
				<add namespace="System.Data"/>
				<add namespace="System.Data.OleDb"/>
				<add namespace="System.Data.SqlClient"/>
				<add namespace="System.Data.SqlTypes"/>
				<add namespace="System.Drawing"/>
				<add namespace="System.Drawing.Imaging"/>
				<add namespace="System.Drawing.Text"/>
				<add namespace="System.Drawing.Printing"/>
				<add namespace="System.Web"/>
				<add namespace="System.Xml"/>
				<add namespace="System.DirectoryServices"/>
				<add namespace="System.Management"/>
				<add namespace="System.Net"/>
				<add namespace="System.Net.Mail"/>
				<add namespace="System.Net.NetworkInformation"/>
				<add namespace="Microsoft.ApplicationBlocks.Data"/>
				<add namespace="NCC.ClearView.Application.Core"/>
				<add namespace="encryptUtil"/>
				<add namespace="NCC.ClearView.Presentation.Web.Custom"/>
				<add namespace="Microsoft.VirtualServer.Interop"/>
				<add namespace="System.Runtime.InteropServices"/>
				<add namespace="System.Globalization"/>
				<add namespace="Vim25Api"/>
				<add namespace="QuickMksAxLib"/>
				<add namespace="Altiris.ASDK.DS.COM"/>
        <add namespace="Tamir.SharpSsh"/>
      </namespaces>
			<controls>
				<add assembly="NCC.ClearView.Presentation.Web.Custom" namespace="NCC.ClearView.Presentation.Web.Custom" tagPrefix="SliderCC"/>
				<add assembly="NCC.ClearView.Presentation.Web.Custom" namespace="NCC.ClearView.Presentation.Web.Custom" tagPrefix="DateCC"/>
			</controls>
		</pages>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="1550000"/>
		<globalization requestEncoding="windows-1252" responseEncoding="windows-1252"/>
	</system.web>
</configuration>
