<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Assign_pageid" value="39"/>
    <add key="BCC" value="evqsa3f;"/>
    <add key="Computer_object_itemid" value="20"/>
    <add key="Design_implementation_itemid" value="43"/>
    <add key="Design_implementation_time" value="7:00 AM"/>
    <add key="Design_pageid" value="64"/>    
    <add key="DSN" value="devDSN"/>
    <add key="Environment" value="1"/>
    <add key="Generate_accountid" value="15686"/>    
    <add key="Generate_day" value="MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;"/>
    <add key="Generate_organizationid" value="1"/>
    <add key="Generate_time" value="4:00 PM"/>
    <add key="Imp_days" value="5"/>
    <add key="Imp_time" value="7:00 AM"/>
    <add key="Interval" value="60000"/>
    <add key="Logging" value="2"/>
    <add key="Od_time" value="7:00 AM"/>
    <add key="Ooo_time" value="7:00 AM"/>
    <add key="Ooo_manager" value="1"/>    
    <add key="Pr1" value="2"/>
    <add key="Pr2" value="5"/>
    <add key="Pr3" value="10"/>
    <add key="Pr4" value="15"/>
    <add key="ProductionClassID" value="2"/>
    <add key="Prod_time" value="11:26 AM"/>
    <add key="Pending_assign_days" value="5"/>
    <add key="Pending_assign_manager_days" value="8"/>
    <add key="Pending_assign_time" value="7:00 AM"/>
    <add key="Preface" value=""/>
    <add key="Pr_time" value="7:00 AM"/>
    <add key="Remainder_day" value="MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;"/>
    <add key="Request_days" value="5"/>
    <add key="Request_time" value="7:00 AM"/>
    <add key="Test" value="1"/>
    <add key="Workflow_pageid" value="37"/>
    <add key="Workload_pageid" value="36"/>
    <add key="Weekly_status_apps" value="117;122;132;"/>
    <add key="Weekly_status_time" value="7:00 AM"/>
    <add key="Weekly_status_days" value="7"/>
    
    <add key="Type_id" value="16"/>
    <add key="Storage_item" value="37"/>
    <add key="Storage_service" value="522"/>     
    <add key="RR_approve" value="49"/>
    <add key="View_page" value="36"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="devDSN" connectionString="data source=OHCLEIIS4333;uid=cvuser;password=l1ama;database=Clearview" providerName=""/>
    <add name="dev2DSN" connectionString="data source=OHCLEUTL4002;uid=cvuser;password=l1ama;database=Clearview" providerName=""/>
    <add name="testDSN" connectionString="data source=OHCLEIIS4569;uid=cvuser;password=l1ama;database=Clearview" providerName=""/>
    <add name="prodDSN" connectionString="data source=OHCLEIIS1319;uid=cvuser;password=l1ama;database=Clearview" providerName=""/>
    <add name="devDSNAsset" connectionString="data source=OHCLEIIS4333;uid=cvuser;password=l1ama;database=ClearviewAsset" providerName="" />
  </connectionStrings>

</configuration>