<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DSN" value="devDSN"/>
    <add key="appTitle" value="ClearView | National City"/>
    <add key="Environment" value="1"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="devDSN" connectionString="data source=OHCLEIIS4333;uid=cvuser;password=l1ama;database=Clearview" providerName="" />
    <add name="testDSN" connectionString="data source=OHCLECSQ400Q;uid=cvuser;password=l1ama;database=Clearview" providerName="" />
    <add name="prodDSN" connectionString="data source=OHCLECSQ101F\OHCLECSQ101F;uid=cvuser;password=l1ama;database=Clearview" providerName="" />
  </connectionStrings>
  <system.web>
	<sessionState mode="Off" />  
    <httpHandlers>
    </httpHandlers>
    <pages enableEventValidation="false" validateRequest="false">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.IO"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Drawing"/>
        <add namespace="System.Drawing.Imaging"/>
        <add namespace="System.Drawing.Text"/>
        <add namespace="System.Web"/>
        <add namespace="System.Xml"/>
        <add namespace="System.Net"/>
        <add namespace="System.Net.Mail"/>
        <add namespace="Microsoft.ApplicationBlocks.Data"/>
        <add namespace="NCC.ClearView.Application.Core"/>
      </namespaces>
      <controls>
      </controls>
    </pages>
    <compilation debug="true">
      <assemblies>
      </assemblies>
      <buildProviders>
      </buildProviders>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1550000"/>
    <globalization requestEncoding="windows-1252" responseEncoding="windows-1252"/>
  </system.web>
</configuration>
