<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NCC.Data.Reporting.Refresh.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- PROD
      <add name="TransactionCoreDatabase" connectionString="data source=OHCLECSQ400Q;uid=cvuser;password=l1ama;database=Clearview" providerName="" />
      <add name="ReportingCoreDatabase" connectionString="data source=OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearView" providerName="" />

      <add name="TransactionAssetDatabase" connectionString="data source=OHCLECSQ400Q;uid=cvuser;password=l1ama;database=ClearViewAsset" providerName="" />
      <add name="ReportingAssetDatabase" connectionString="data source=OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearViewAsset" providerName="" />

      <add name="TransactionIPDatabase" connectionString="data source=OHCLECSQ400Q;uid=cvuser;password=l1ama;database=ClearViewIP" providerName="" />
      <add name="ReportingIPDatabase" connectionString="data source=OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearViewIP" providerName="" />
    -->
    
    <!-- TEST -->
      <add name="TransactionCoreDatabase" connectionString="data source=OHCLECSQ400Q\OHCLECSQ400Q;uid=cvuser;password=l1ama;database=Clearview" providerName="" />
      <add name="ReportingCoreDatabase" connectionString="data source=OHCLECSQ400R\OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearView" providerName="" />

      <add name="TransactionAssetDatabase" connectionString="data source=OHCLECSQ400Q\OHCLECSQ400Q;uid=cvuser;password=l1ama;database=ClearViewAsset" providerName="" />
      <add name="ReportingAssetDatabase" connectionString="data source=OHCLECSQ400R\OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearViewAsset" providerName="" />

      <add name="TransactionIPDatabase" connectionString="data source=OHCLECSQ400Q\OHCLECSQ400Q;uid=cvuser;password=l1ama;database=ClearViewIP" providerName="" />
      <add name="ReportingIPDatabase" connectionString="data source=OHCLECSQ400R\OHCLECSQ400R;uid=cvuser;password=l1ama;database=ClearViewIP" providerName="" />
  </connectionStrings>
  <userSettings/>
</configuration>