<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Interval" value="60000"/>
    <add key="Environment" value="1"/>
    <add key="ScriptEnvironment" value="Dev"/>
    <add key="DSN" value="devDSN" />
    <add key="AssetDSN" value="devDSNAsset" />
    <add key="IpDSN" value="devDSNip" />
    <add key="ServiceEditorDSN" value="devDSNServiceEditor" />
    <add key="ZeusDSN" value="devDSNzeus" />
    <add key="AssignPage" value="39"/>
    <add key="ViewPage" value="36"/>
    <add key="Debug" value="0"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="devDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview_DEV" providerName=""/>
    <add name="testDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="qaDSN" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="prodDSN" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="devDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset_DEV" providerName="" />
    <add name="testDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="qaDSNAsset" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="prodDSNAsset" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="devDSNIP" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP_DEV" providerName="" />
    <add name="testDSNIP" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="qaDSNIP" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="prodDSNIP" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewIP" providerName="" />
    <add name="devDSNServiceEditor" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor_DEV" providerName="" />
    <add name="testDSNServiceEditor" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="qaDSNServiceEditor" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="prodDSNServiceEditor" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewServiceEditor" providerName="" />
    <add name="devDSNzeus" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus_DEV" providerName="" />
    <add name="testDSNzeus" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
    <add name="qaDSNzeus" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
    <add name="prodDSNzeus" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewZeus" providerName="" />
  </connectionStrings>

</configuration>