<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Web.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="DSN" value="devDSN" />
    <add key="AssetDSN" value="devDSNAsset" />
    <add key="Environment" value="901" />
    <add key="DNSService" value="0"/>
    <add key="AssignPage" value="0"/>
    <add key="ViewPage" value="0"/>
    <add key="ResourceRequestApprove" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="devDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview_DEV" providerName=""/>
    <add name="testDSN" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="qaDSN" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="prodDSN" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=Clearview" providerName=""/>
    <add name="devDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset_DEV" providerName="" />
    <add name="testDSNAsset" connectionString="data source=DTGTCSQA20\DTGTCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="qaDSNAsset" connectionString="data source=DTGQCSQA20\DTGQCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
    <add name="prodDSNAsset" connectionString="data source=DTGPCSQA20\DTGPCSQA20;Integrated Security=SSPI;Initial Catalog=ClearviewAsset" providerName="" />
  </connectionStrings>

  <applicationSettings>
    <Presentation.Web.Services.Properties.Settings>
      <setting name="Presentation_Web_Services_WebServiceAPI_ClearViewWebServices"
        serializeAs="String">
        <value>http://localhost:64919/ClearViewWebServices.asmx</value>
      </setting>
    </Presentation.Web.Services.Properties.Settings>
  </applicationSettings>
</configuration>
